@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-hsl: 195, 10%, 92%;
  --bg-hsl: 213, 24%, 7%;
  --bg: hsl(213, 24%, 7%);
  --fg: hsl(195, 10%, 92%);
  --fg-40: hsla(195, 10%, 92%, 40%);
}

body {
  color: hsl(var(--fg-hsl));
  background: hsl(var(--bg-hsl))
}